# Meta/WhatsApp API Configuration
META_VERIFY_TOKEN=super-secret-webhook-token
META_ACCESS_TOKEN=EAAieZCM4kF2ABQz22BfCfUPmyzSYN4I5zR0EYrsUsxZAYCZCEuRS9mQBCpp6YHce883icEtbyQyNsOFkA8Ws229N85fBiNnXq8kkuc2pcm53CEecFxRoM17hXqEI8J15aqtHqYbjEMQ7uSO8MLBeWVNxRSz7qQZA9ZA83lukZBJjh8aLtuLTT1slXR83tOMspZC8IiDHsSxUtQQ9RQ8kFextROedU8H7SD1lhfIU7T8a2YwapoJCwVWxUNTKqQEAcVzB2jV6OQzEvoXHZCwkAlne
META_PHONE_NUMBER_ID=911956198674578
# META_BUSINESS_ACCOUNT_ID=871650472117381
META_API_VERSION=v22.0

# Backend API Configuration
BACKEND_API_URL=http://backend-api:8000
BACKEND_API_TIMEOUT=30

# Application Settings
APP_NAME=WhatsApp Gateway
APP_VERSION=1.0.0
DEBUG=false
LOG_LEVEL=INFO

# Server Configuration
HOST=0.0.0.0
PORT=40000

# Multi-tenant
DEFAULT_TENANT_ID=default
